*{
    margin: 0;
    padding: 0;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}


body {
    background-color: black;
}

.main-text-sec p {
    color: rgb(60, 255, 0);
}

.logo-div a {
    text-decoration: none;
    font-size: 50px;
}

.op {
    color: red;
}

.a3x {
    color: fuchsia;
}