*{
    margin: 0px;
    padding: 0px;
    transition-duration: 0.5s;
}

body{
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
    color: yellow;
    animation-name: china;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.main-div li{
    display: inline-block;
    padding: 20px 100px;
    background-color: black;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    margin: 20px 40px;
}

.main-div li:hover{
    background-color: cadetblue;
}

@media Screen and (max-width:1450px) {
    *{
        color: lime;
        text-align: center;
    }

    body{
        flex-direction: column;
    }

    .main-div li{
        display: block;
    }

}

@keyframes china{
    0% {background-image: url("https://imgs.search.brave.com/rLzr6MmwmVMIX9z4Y2zY_KDbM9WRSuDofh45PRSdDu4/rs:fit:450:299:1/g:ce/aHR0cHM6Ly91bHRp/bWF0ZWFwcG1ha2Vy/LmNvbS93cC1jb250/ZW50L3VwbG9hZHMv/MjAyMi8wOC90d2l0/dGVyLWlzLWZ1bGwt/b2YtbWVtZXMtb2Yt/YW5kcmV3LXRhdGUt/YmVpbmctYmFuLTIt/NDEzNi0xNjYxNDM0/Mzg4LTZfZGJsYmln/LTQ1MHgyOTkuanBn");
        font-size: 1vh;
        image-orientation: flip;
    }

    100% {background-image: url("https://imgs.search.brave.com/gDQO6599ySEUwryDMU56lsOeY60o9giq0MrXvRCCg4Q/rs:fit:1200:720:1/g:ce/aHR0cHM6Ly9pLnl0/aW1nLmNvbS92aS96/SWJ3OTVwWEF6VS9t/YXhyZXNkZWZhdWx0/LmpwZw");
        font-size: 5vh;
        transform: rotate(360deg);
    }
}
