
Other/spel/.idea/vcs.xml
.idea
*.pyc
logs
Prog/slut_spelprojekt/settings.json
Prog/slut_spelprojekt/help.py
Prog/slut_spelprojekt/src/sfx/scatman.wav
Web/CV/public/img/will.jpg
Web/CV/.vscode
*.ipynb
