
Other/spel/.idea/vcs.xml
.idea
*.pyc
logs
Prog/slut_spelprojekt/settings.json
Prog/slut_spelprojekt/help.py
Prog/slut_spelprojekt/src/sfx/scatman.wav
Web/CV/public/img/will.jpg
Web/CV/.vscode
*.ipynb
TILTIL/Full Calculator Winforms/.vs/winforms-calculator/v17/.suo
*.lock
*.vsidx
TILTIL/Full Calculator Winforms/.vs
TILTIL/Full Calculator Winforms/winforms-calculator/bin/Release/*
TILTIL/Full Calculator Winforms/winforms-calculator/bin/Debug/*
TILTIL/Full Calculator Winforms/winforms-calculator/obj/*
Web/bootstrap_projects/.vscode/settings.json
Web/bootstrap01/.vscode/settings.json
Prog2/Vecka3/V3/V3/bin/Debug/V3.exe
Prog2/Vecka3/V3/V3/bin/Debug/V3.exe.config
*.pdb
Prog2/Vecka3/V3/V3/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
*.cache
Prog2/Vecka3/V3/V3/App.config
Prog2/Vecka3/V3/V3/obj/Debug/V3.csproj.FileListAbsolute.txt
Prog2/Vecka3/V3/V3/obj/Debug/V3.exe
Prog2/Vecka3/V3/V3/Properties/AssemblyInfo.cs
Prog2/Vecka3/V3/.vs/V3/v17/.suo
Prog2/Vecka5/V5/.vs/V5/v17/.suo
*.config
Prog2/Vecka5/V5/V5/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Prog2/Vecka5/V5/V5/Properties/AssemblyInfo.cs
Prog2/Yatzy/Yatzy/.vs/Yatzy/v16/.suo
