<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>0xZenith - Writeups</title>
</head>
<body>
    <div class="main-header">
        <nav>
            <ul>
                <li><a href="/">/home</a></li>
                <li><a href="/writeups">/writeups</a></li>
                <li><a href="/about">/about</a></li>
            </ul>
        </nav>
    </div>
    <div class="main-container">
        <h1>Welcome to <span id='main-highlight'>0xZenith</span> Writeups</h1>
    </div>
</body>
<footer>
    <p id='main-highlight2'>&copy; 2024 0xZenith Writeups</p>
</footer>
</html>