*{
    margin: 0;
    padding: 0;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

@font-face {
    font-family: "masterFont";
    src: url(/fonts/Grape\ Days.otf);
  }

body {
    background-color: rgb(37, 37, 37);
}

#active {
    color: aqua;
}

.header-div {
    font-family: masterFont;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-div a {
    font-size: 50px;
    text-decoration: none;
}

.main-text-area {
    background-color: rgb(32, 32, 32);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(0, 255, 55);
}

.main-text-area-greet p {
    background-color: rgb(32, 32, 32);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(0, 255, 55);
}

.main-text-area-book-flight {
    background-color: rgb(32, 32, 32);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(0, 255, 55);
}


.main-text-area-book-flight a{
    background-color: rgb(32, 32, 32);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(0, 255, 55);
}

.main-text-area-book-flight a:hover{
    color: yellow;
}



.main-section-picture img{
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 30px;
    height: 400px;
    width: 400px;
}

.main-section-links {
    margin-left: auto;
    margin-right: auto;
}

.main-section-links a{
    color: aliceblue;
    background-color: rgb(32, 32, 32);
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
}

.main-section-links a:hover{ 
    color: yellow;
    background-color: rgb(19, 19, 19);
 }
