@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

*{
    margin: 0;
    font-family: 'Uncial Antiqua', cursive;
    padding: 0;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    -webkit-animation: glowing 1s ease-in-out infinite alternate;
    -moz-animation: glowing 1s ease-in-out infinite alternate;
    animation: glowing 0.000001s ease-in infinite alternate;
    animation: blink .1  infinite;
    color: black;
    border: 10px black;
    padding: 20px;
}

@font-face {
    font-family: "masterFont";
    src: url(/fonts/Grape\ Days.otf);
  }

body {
    background: #c31432;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient(to right, #240b36, #c31432);

}

#active {
    color: aqua;
}

.header-div {
    font-family: masterFont;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-div a {
    font-size: 50px;
    text-decoration: none;
}

.main-text-area {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(0, 255, 55);
}

.main-text-area-greet p {
    background-color: rgb(32, 32, 32);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(0, 255, 55);
}

.main-text-area-book-flight {
    background-color: rgb(32, 32, 32);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(0, 255, 55);
}


.main-text-area-book-flight a{
    background-color: rgb(32, 32, 32);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(0, 255, 55);
}

.main-text-area-book-flight a:hover{
    color: yellow;
}



.main-section-picture img{
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 30px;
    height: 400px;
    width: 400px;
    animation: zoom-in-zoom-out 5s ease;
}

.main-section-links {
    margin-left: auto;
    margin-right: auto;
}

.main-section-links a{
    color: aliceblue;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
}

.main-section-links a:hover{ 
    color: yellow;
    background-color: rgb(19, 19, 19);
 }


 @-webkit-keyframes glowing {
    from {
      box-shadow: 0 0 0px rgb(168, 41, 41), 0 0 20px rgb(7, 65, 255), 0 0 30px rgb(0, 255, 255), 0 0 40px rgb(60, 255, 0), 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      box-shadow: 0 0 2000px rgb(0, 0, 0), 0 0 30px #000000, 0 0 40px #000000, 0 0 50px ;
    }
  }

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    90% {
      transform: scale(10, 10);
      opacity: 1;
    }
    100% {
        transform: scale(40, 40);
        opacity: 0;
    }
  }