* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
}

a,
h1 {
  color: #fff;
  transition-duration: 0.5s;
}

a:hover {
  color: #696969;
}

img {
  border: 2px solid #161616;
  border-radius: 10px;
}

.main-header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
  height: 10vh;
  background-color: #161616;
  border-bottom: 2px solid #ff0000;
}
.main-header-div .left-top a {
  margin: 0px 20px;
  font-size: 1.5rem;
}
.main-header-div .right-top .search-wrapper img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.main-header-div .right-top .search-wrapper form input {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
}
.main-header-div .logo-main-section {
  color: #fff;
}
.main-header-div .colored-span-section-logo {
  color: #ff0000;
}
.main-header-div .search-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-container .main-content-left {
  width: 50vw;
  height: 90vh;
  background: #161616;
  border-right: 2px solid #ff0000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main-container .main-content-left .order-checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 20%;
  margin-bottom: 40px;
  background: #1a1a1a;
  border: 2px solid white;
  border-radius: 4px;
}
.main-container .main-content-left .order-checkout-container a {
  width: 100%;
  height: 100%;
  padding: 10px 0px;
  transition-duration: 0.5s;
}
.main-container .main-content-left .order-checkout-container a:hover {
  background: #121212;
  color: red;
}
.main-container .main-content-left h2 {
  color: yellow;
  font-size: 2rem;
}
.main-container .main-content-left h1 {
  margin-top: 50px;
  font-size: 3rem;
}
.main-container .main-content-left h1 span {
  color: #ff0000;
}
.main-container .main-content-left .info-card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main-container .main-content-left .info-card-wrapper .main-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.main-container .main-content-left .info-card-wrapper .main-info-card-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 45%;
  height: 100%;
  text-wrap: wrap;
}
.main-container .main-content-left .info-card-wrapper .main-info-card-left img {
  height: 150px;
  margin: 30px 0px;
}
.main-container .main-content-left .info-card-wrapper .main-info-card-left p {
  color: white;
  letter-spacing: 1px;
  line-height: 1.5;
}
.main-container .main-content-left .info-card-wrapper .main-info-card-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 45%;
  height: 100%;
  text-wrap: wrap;
}
.main-container .main-content-left .info-card-wrapper .main-info-card-right img {
  height: 200px;
  margin: 30px 0px;
}
.main-container .main-content-left .info-card-wrapper .main-info-card-right p {
  color: white;
  letter-spacing: 1px;
  line-height: 1.5;
}
.main-container .main-content-left .info-card-wrapper .info-card-wrapper2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.main-container .main-content-right {
  width: 50vw;
  height: 90vh;
  background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapers-all.com%2Fuploads%2Fposts%2F2017-04%2F28_sushi.jpg&f=1&nofb=1&ipt=47abf137c3434cda6985178a4076c57cb66aecb3dba89e53f1aa9c57987981aa&ipo=images");
  filter: blur(0px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-text {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 2;
  margin: 20px 20px;
  width: 40vw;
}

footer {
  border-top: 2px solid #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #1f1f1f;
}
footer .footer-right a {
  color: yellow;
}

@media (max-width: 1000px) {
  .main-header-div {
    flex-direction: column;
    height: 20vh;
  }
  .main-header-div .left-top {
    margin-top: 20px;
    text-align: center;
  }
  .main-header-div .right-top {
    margin-bottom: 20px;
  }
  .main-container {
    flex-direction: column;
  }
  .main-container .main-content-left {
    width: 100vw;
    border-right: none;
    border-bottom: 2px solid #ff0000;
  }
  .main-container .main-content-right {
    width: 100vw;
  }
}
@media (max-width: 650px) {
  .main-info-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-container .main-content-left .info-card-wrapper .main-info-wrapper {
    flex-direction: column;
  }
  .main-container .main-content-left {
    height: 100%;
  }
  .main-container .main-content-left h1 {
    font-size: 2rem;
  }
  .main-container .main-content-left .info-card-wrapper .main-info-card-left {
    width: 90%;
  }
  .main-container .main-content-left .info-card-wrapper .main-info-card-right {
    width: 90%;
  }
  .main-content-right {
    display: none;
  }
  .main-header-div .left-top a {
    font-size: 1rem;
  }
}
.items-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(186px, 0.1fr));
  width: 100%;
  height: 100%;
}
.items-div .menu-item {
  background: rgb(20, 20, 20);
  border: 2px solid rgb(20, 20, 20);
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  transition-duration: 0.3s;
}
.items-div .menu-item a {
  color: white;
}
.items-div .menu-item a img {
  width: 150px;
  border: none;
}
.items-div .menu-item:hover {
  transform: scale(1.1);
  background: rgb(31, 31, 31);
  border: 1px solid red;
}

#menu-section {
  width: 70vw;
}

.menu-container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.cart-items-total {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: center;
  width: 20vw;
  background: rgb(27, 27, 27);
  max-height: 80vh;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid red;
  overflow-x: hidden;
  overflow-y: scroll;
}

h3 {
  color: white;
}

#shoppingcarttext {
  font-size: 1.5rem;
}

.menu-wrapper {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

#cart-container {
  color: white;
}

.order-checkout-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 40px;
  background: #1a1a1a;
  border: 2px solid white;
  border-radius: 4px;
}
.order-checkout-container2 a {
  font-size: 0.9rem;
  padding: 10px 8px;
  transition-duration: 0.5s;
}
.order-checkout-container2 a:hover {
  color: red;
}

#checkout-section h1 {
  text-align: center;
}

.my-cart-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px 10px;
  border-radius: 10px;
  border: 2px solid red;
  background: #1f1f1f;
  margin-bottom: 50px;
}
.my-cart-wrapper #order-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}
.my-cart-wrapper #order-container ul li {
  color: white;
}

.order-item {
  color: white;
  background: #161616;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid red;
  margin: 10px;
}
.order-item .order-name {
  color: white;
}

.spacer {
  margin: 20px 0px;
}

.order-img {
  width: 70%;
  max-width: 300px;
  min-width: 100px;
}/*# sourceMappingURL=style.css.map */