@import 'other';

/*
SASS Funktioner Övningar

 - Vad är en Sass-funktion och vad är dess syfte?
Som i alla programmeringsspråk så är funktioner till för att man inte ska behöva repertera sig när man skriver kod. Funktioner kan kallas och retunera en value i scss.

 - Beskriv syntaxen för att definiera en Sass-funktion och ge ett exempel på hur den kan användas.
@function name($parameter) {
    @return $parameter;
}

 - Förklara skillnaden mellan inbyggda Sass-funktioner och anpassade Sass-funktioner. Ge exempel på vardera.
Anpassade Sass funktioner kan själv defineras och inbyggda finns redan i scss.

 - Vad är en mixin i Sass och hur skiljer den sig från en funktion? Ge exempel på när du skulle använda en mixin istället för en funktion.
Mixin är en funktion som inte retunerar något värde. Den används för att skriva om kod som är lika och kan användas för att definera values som kan återanvändas på flera ställen i koden.

 - Skapa en Sass-funktion som tar emot två parametrar, width och height, och returnerar ett resultat som används för att sätta en bakgrundsbild med dessa dimensioner.
*/
@function myEpicFunction($width, $height) {
    @return #{$width}, #{$height};
}
// sedan kan man använda den för att sätta bakgrundens storlek
html{
    background-size: myEpicFunction(100px, 100px);
}

// - Skapa en Sass-funktion som tar emot två färger som parametrar och returnerar en ny färg som är en blandning av de två givna färgerna.

 @function colorReturner($color1, $color2) {
    @return mix($color1, $color2);
 }

// - Skapa en Sass-funktion som fördubblar font size:n i en paragraf om font size är mindre än 10px.
@function fontSize($size) {
    @if $size < 10px {
        @return $size * 2;
    }
    @else {
        @return $size;
    }
}
// - Använd komplementfärg i en sass funktion(du kan använda inbyggd funktionen complement() ). Funktionen måste ta en bakgrundsfärg som parameter och sen använd komlementfärg för texten i en div t.ex. 
@function complementColor($color) {
    @return complement($color);
}

//  använd mix() inbyggd funktioner för att ändra färg i en text. 
@function mixColor($color1, $color2) {
    @return mix($color1, $color2);
}

@function fontSizeFunc($size){
    @return fontSize($size);
}

body{
    background-color: complementColor(#792828);

    .main-div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90svh;
        width: 90svw;
    }

    p{
        color: mixColor(#ffffff, #23aa45);
        font-size: fontSizeFunc(30px);
    }
}