*{
    padding: 0;
    margin: 0;
    scrollbar-color: #ffbb00 #19d8df;
    transition-duration: .4s;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body{
    background-color: rgb(32, 32, 32);
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.main-div a{
    color: white;
    text-decoration: none;
}

.main-div a:hover{
    color: red;
}

.main-div{
    margin-top: 40px;
    background-color: rgb(48, 48, 48);
    border: 5px solid black;
    box-shadow: 1px 1px 50px rgb(0, 174, 255);
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    color: purple;
    font-size: 100px;
    padding-bottom: 100px;
}

.main-div input{
    font-size: 15px;
    padding: 20px 100px;
    background-color: rgb(17, 17, 17);
    color: white;
    border: 1px solid white;
    border-radius: 20px;
}

#profPic{
    height: 250px;
    width: 250px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid black;
    box-shadow: 2px 2px 30px rgb(0, 204, 255);
}
#name{
    color: white;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#subBtn:hover{
    padding: 30px 120px;
    box-shadow: 1px 1px 30px red;
}

#result{
    color: orange;
}

button{
    padding: 20px;
    background-color: #19d8df;
}

button:hover{
    background-color: #ffbb00;
}

#att{
    color: crimson;
}

.masta-div{
    background: black;
    color: white;
}